@font-face {
    font-family: 'Good boy';
    src: url('fonts/Goodboy.woff2') format('woff2'),
    url('fonts/Goodboy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#adminAvatar{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}
h1 {
    text-align: left;
    font-family: "Good boy", sans-serif;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 100px;
    background: linear-gradient(to bottom,black 1%, darkgoldenrod, goldenrod, white 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 10px;
}

h2{
    margin-left: 10px;
    margin-top: -10px;
    z-index: 10001;
    position: fixed;
    font-family: "Good boy", sans-serif;
    font-size: 60px;
    display: block;
    background: linear-gradient(to bottom,black 1%, darkgoldenrod, goldenrod, white 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 10px;

}

#adminHeader{
    margin-right: 5px;
    margin-top: -120px;
    font-family: sans-serif;
    background: linear-gradient(to bottom, darkgoldenrod, goldenrod);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    float: right;
}

.ah2{
    text-decoration: none;
    margin-right: 10px;
    justify-content: left;
    display:inline-block;
    width:250px;
}

.body{
    background-image: url("images/pexels-anna-shvets-4588013.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.buttonIndex{
    margin: auto;
    background: linear-gradient(to bottom, darkgoldenrod, goldenrod, white 80%);
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 16px 55px 18px 55px;
    border-radius: 100px;
    opacity: 1 !important;
    font-weight: 600 !important;
    font-size: 32px !important;
    color: aliceblue;
    line-height: 170%;
    letter-spacing: .01em;
    cursor: pointer;
}

.header2{
    margin-left: -8px;
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    opacity: 70%;
    background-color: black;
}

header{
    margin-left: -8px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:150px;
    opacity: 85%;
    z-index: -1;
}

#table{
    display: table;
    margin: 10px auto;
}

ul#horizontalList li{
    display: inline;
    padding-right: 50px;
}

body{
    background: linear-gradient(90deg, #CDB7F6 , #FFEFFF, #B19CD9);
}

ul {
    list-style-type: none;
    text-align: center;
}
.headerA{
    background: linear-gradient(to bottom, lightgray, white 35%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    height: 50px;
    font-size: 40px;
    font-family: "Good boy", sans-serif;
}

.indexHeaderA{
    background: linear-gradient(to bottom, lightgray, white 35%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    height: 80px;
    font-size: 60px;
    padding-right: 60px;
    padding-top: 10px;
    font-family: "Good boy", sans-serif;
}

li{
    display: inline-block;
    padding-top: 15px;
    padding-right: 30px;
}
table {
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
}

#dogs img{
    height: 410px;
    width: 270px;
}

#dogs{
    height: 1500px;
}

.title{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 300px;
    font-size: 30px;
    font-family: cursive, "Brush Script MT";
}

.flip-box {
    background-color: transparent;
    width: 270px;
    height: 410px;
    margin-left: 100px;
    margin-top: -30px;
    border: 1px solid black;
    perspective: 1000px;
}


.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
}


.card-inner.is-flipped {
    transform: rotateY(180deg);
}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}


.card-back {
    color: white;
    transform: rotateY(180deg);
}

#Husky{
    background: linear-gradient(to right, cornflowerblue, deepskyblue, dodgerblue);
}

#Doge{
    background: linear-gradient(to right, darkgoldenrod, goldenrod, palegoldenrod);
}

#Labrador{
    background: linear-gradient(to right, yellowgreen, greenyellow);
}

#Dachshund{
    background: linear-gradient(to right, red, tomato);
}

#Poodle{
    background: linear-gradient(to left, hotpink, deeppink);
}

#Ronnie{
    background: linear-gradient(to right, orange, darkorange, sandybrown);
}

p{
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    color: white;
}
#dog1{
    -webkit-text-fill-color: goldenrod;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkgoldenrod;

}

#dog2{
    -webkit-text-fill-color: cornflowerblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}

#dog3{
    -webkit-text-fill-color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c36b00;

}

#dog4{
    -webkit-text-fill-color: hotpink;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: deeppink;

}

#dog5{
    -webkit-text-fill-color: greenyellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellowgreen;

}

#dog6{
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkred;

}

.bookingButton{
    margin-top: 20px;
    float: left;
    margin-left: 200px;
}

#companyInfo{
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
    color: white;
}

#contactMain, #reviewMain{
    padding: 10px;
    margin: 150px auto 10px  auto;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(90deg, #CDB7F6, #B19CD9);
    color: inherit;
    width: 1200px;
}

.review-header{
    color: white;
    font-size: 40px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 0;
}

.review-author{
    color: white;
    margin-left: 45px;
    font-size: 20px;
    margin-top: 10px;
}

.review-description{
    color: white;
    margin-left: 25px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 200px;
}
