@font-face {
    font-family: 'Good boy';
    src: url('fonts/Goodboy.woff2') format('woff2'),
    url('fonts/Goodboy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#adminAvatar{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}
h1 {
    text-align: left;
    font-family: "Good boy", sans-serif;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 100px;
    background: linear-gradient(to bottom,black 1%, darkgoldenrod, goldenrod, white 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 10px;
}

h2{
    margin-left: 10px;
    margin-top: 0;
    display: flex;
    margin-right: auto;
    font-family: "Good boy", sans-serif;
    font-size: 40px;
    justify-content: left;
    background: linear-gradient(to bottom,black 1%, darkgoldenrod, goldenrod, white 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 10px;
}

h3{
    margin-right: 5px;
    margin-top: -120px;
    font-family: sans-serif;
    background: linear-gradient(to bottom, darkgoldenrod, goldenrod);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    float: right;
}

.ah2{
    text-decoration: none;
    margin-right: 10px;
    justify-content: left;
    display:inline-block;
    width:250px;
}

.body{
    background-image: url("images/pexels-anna-shvets-4588013.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.buttonIndex{
    margin: auto;
    background: linear-gradient(to bottom, darkgoldenrod, goldenrod, white 80%);
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 16px 86px 18px 72px;
    border-radius: 100px;
    opacity: 1 !important;
    font-weight: 600 !important;
    font-size: 32px !important;
    color: aliceblue;
    line-height: 170%;
    letter-spacing: .01em;
    cursor: pointer;
}

.header2{
    margin-left: -8px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    opacity: 1;
    background-color: cyan;
}

header{
    margin-left: -8px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:150px;
    opacity: 85%;
}

#table{
    display: table;
    margin: 10px auto;
}

ul#horizontalList li{
    display: inline;
    padding-right: 50px;
}